RewriteEngine On
# ponizsza linijka wymagana na serwerach Netart
# RewriteBase /
RewriteCond %{HTTP_HOST} ^(www.)?komfort-hotel\.pl
RewriteRule (.*) http://www.komfort-hotel.pl/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^komfort-hotel.pl
RewriteRule (.*) http://www.komfort-hotel.pl/$1 [R=301,L]
